@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Roboto";
  font-weight: 300;
  color: black;
}
/*h1 on page-1*/
.page-1-title-h1 {
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-top: 3rem;
    padding: 0 0.3em 0 0.3em;
}

/*First section */
.page-1 {
  width: 100%;
  background-image: url("../img/stockholm-sweden-winter-blur.jpg");
  height: 46rem;
  padding: 0 0;
}
.page-1-div {
  position: relative;
  top:120px;
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 0rem;
    border: 1px solid #b5b5b5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Orange Dividers*/
.orange-page-1 {
    width: 6rem;
    height: 0.2rem;
    background-color: #f26522;
    margin: 0 auto;
    margin: 2rem 0 0 0;
}
/*first buttons*/
.btn-page-1 {
    padding: 6px 12px;
    border: 2px solid #b5b5b5;
    background-color: rgba(0,0,0,0.0);
    margin: 3rem 0 0 0;
    font-size: 1em;
    color: white;
    text-decoration: none;
}
/*second section*/
.page-2 {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
}
.page-2 img {
  width: 100%;
  padding: 0 1em;
}
.page-2-title-h1 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    padding: 0 1em;
}
.orange-page-2 {
    width: 6rem;
    height: 0.2rem;
    background-color: #f26522;
    margin: 0 auto;
    margin: 2rem 0 2rem 0;
}
.page-2-p {
    margin: 2rem 0 0 0;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 5em 0 5em;
}
.btn-page-2 {
    padding: 6px 15px;
    border: 2px solid #000000;
    background-color: rgba(0,0,0,0.0);
    margin: 1rem 0 0 0;
    color: black;
    text-decoration: none;
}
/*third section*/
.page-3 {
    background-color: #f2f2f2;
    padding: 35px 0;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-3-title-h1 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}
.orange-page-3 {
    width: 6rem;
    height: 0.2rem;
    background-color: #f26522;
    margin: 0 auto;
    margin: 2rem 0 2rem 0;
}
.page-3-flex-container {
    width: 100%;
    min-height: 50%;
    background-color: #2ec4b6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.page-3-flex-container > figure {
    width: 50px;
    height: 100px;
    background-color: red;
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
}
.page-3-flex-container > figure > figure {
     display: flex;
     justify-content: center;
     flex-direction: row;
}
.flex-item {
    margin: 20px;
}
.page-3-p {
    margin: 2rem 0 0 0;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1em 0 1em;
}
.btn-page-3 {
    padding: 6px 15px;
    border: 2px solid #000000;
    background-color: rgba(0,0,0,0.0);
    margin: 1rem 0 0 0;
    color: black;
    text-decoration: none;
}
/*Fourth section*/
.page-4 {
    padding: 35px 0;
    width: 100%;
    background-image: url("../img/doorblur.jpg");
    background-image: center;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-div {
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    width: 85%;
    padding: 15px;
    margin-top: 2rem;
}
.page-4-title-h1 {
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}
.p-div {
    width: 85%;
    height: 50%;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 2rem;
}
.page-4-p {
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    text-align: left;
    font-size: 1.1rem;
    padding: 0.5em 0.5em 0 0.5em;
}
.btn-page-4 {
    padding: 8px 25px;
    border: 2px solid #b5b5b5;
    background-color: rgba(0,0,0,0.0);
    margin: 1rem 0 0 0;
    color: white;
    text-decoration: none;
}
/*fith section*/
.page-5 {
    padding: 35px 0;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-5-title-h1 {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}
.orange-page-5 {
    width: 6rem;
    height: 0.2rem;
    background-color: #f26522;
    margin: 0 auto;
    margin: 2rem 0 2rem 0;
}
.page-5-p {
    margin: 1rem 0 1rem 0;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 1em 0 1em;

}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact {
    width: 80%;
    height: 2rem;
    border: 1px solid #242424;
    margin: 0 0 2rem 0;
    padding-left:5px;

}
.txt-style {
    width: 80%;
    max-width: 80%;
    height:200px;
    max-height: 200px;
    border: 1px solid #242424;
    padding-left:5px;
}
.btn-page-5 {
    padding: 6px 15px;
    border: 2px solid #000000;
    background-color: #f26522;
    margin: 1rem 0 0 0;
    color: black;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 300;
}
.icon-size {
    font-size: 90px;
    margin: 1rem 0 0 2rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
  max-height: 450px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 200px;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activeTeam, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
li{
  list-style:none;
}
/* END OF SLIDSHOW */
.kompIcon{
  height: 3rem;
}
.textContainer{
  padding: 1.5rem;
}

/*Desktop media query*/
@media (min-width:1366px){
  section {
    margin: 0 auto;
    width: 70% !important;
    background-color: #fafafa;

  }
  .page-1-div{
    width: 100%;
    height: 40%;
  }
  nav{
    margin: 0 auto;
    width: 70% !important;
  }
  .page-2 img {
    width: auto;
    height: auto;
  }

/*iPad media query*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  
{ 
  /* STYLES GO HERE */
  
}