@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  font-family: "Roboto";
  font-weight: 300;
}

@media(max-width: 450px){
.navbar {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0, 0.3);
}
.navbar ul li img {
    opacity: 1 !important;   
}

.logo-img {
    width: 40%;
}

/*h1 on page-1*/
.page-1-title-h1 {
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    margin-top: 3rem;
}

/*First section */
.page-1 {
    width: 100%;
    background-image: url("../img/stockholm-sweden-winter-blur.jpg");
    height: 46rem;
}

.page-1-div {
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid #b5b5b5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Orange Dividers*/
.orange {
    width: 6rem;
    height: 0.2rem;
    background-color: #f26522;
    margin: 0 auto;
    margin: 2rem 0 0 0;
}

/*4 first buttons*/
.btn {
    padding: 6px 12px;
    border: 2px solid #b5b5b5;
    background-color: rgba(0,0,0,0.0);
    margin: 1rem 0 0 0;
    color: white;
    text-decoration: none;
}

.page-2 {
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-2-title-h1 {

}


.img-container {
    margin: 2rem 0 0 0;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}


}