@import "mixins";

* {
  box-sizing: border-box;
  @include zero-padd-marg;
}

footer {
    padding: 15px 0;
    width: 100%;
    height: 15rem;
    background-color: #e71d36;

    h2 {
    	@include Robo-font;
    	@include footer-color-margin;
    	font-size: 1.5rem;
    }
    p {
    	@include Robo-font;
    	@include footer-color-margin;
    }
}

.icon-size {
    font-size: 90px;
    margin: 1rem 0 0 2rem;
}
@media(min-width: 1366px){
    footer{
        margin: 0 auto;
        width:70%;
    }
}