@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');
@import "mixins";


section{
	@include background-color;

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
.bg-color{
	position: relative ;
	z-index:2;
	background-color: #2b2d42;
	width: 100%;
	height: 100%; 
}
body{
	@include FONT;
	color: black;
}

/*First section */
.page-1 {
	width: 100%;
	background-image: url("../img/stockholm-sweden-winter-blur-lower.jpg");
	height: 46rem;
	padding: 0 0;
}

/*h1 on page-1*/
.page-1-title-h1 {
	color: white;
	@include FONT;
	font-size: 2em;
	text-align: center;
	margin-top: 3rem;
	padding: 0 0.3em 0 0.3em;
}

.page-1-div {
	position: relative;
	top:120px;
	width: 80%;
	height: 80%;
	background-color: rgba(0,0,0,0.3);
	margin: 0 auto;
	margin-top: 0rem;
	border: 1px solid #b5b5b5;
	@include FLEX;
}

/*Orange Dividers*/
.orange-page-1 {
	width: 6rem;
	height: 0.2rem;
	background-color: #f26522;
	margin: 0 auto;
	margin: 2rem 0 0 0;
}

/*first buttons*/
.btn-page-1 {
	padding: 6px 12px;
	border: 2px solid #b5b5b5;
	background-color: rgba(0,0,0,0.0);
	margin: 3rem 0 0 0;
	font-size: 1em;
	color: white;
	text-decoration: none;
}

/*second section*/
.page-2 {
	width: 100%;
	height: 45rem;
	@include FLEX;
	padding: 35px 0;

	img {
		width: 100%;
		padding: 0 1rem;
	}
}

.page-2-title-h1 {
	@include FONT;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 3rem;
	padding: 0 1em;
}

.orange-page-2, .orange-page-3{
	width: 6rem;
	height: 0.2rem;
	background-color: #f26522;
	margin: 0 auto;
	margin: 2rem 0 2rem 0;
}

.page-2-p, .page-3-p, .page-5-p{
	margin: 2rem 0 0 0;
	@include FONT;
	font-size: 1.2rem;
	text-align: center;
	padding: 0 1.5rem 0 1.5rem;
}

#p-project{
	padding-bottom:1rem;
}

.btn-page-2 {
	padding: 6px 15px;
	@include btn-specs;
	margin: 1rem 0 0 0;
	color: black;
	text-decoration: none;
}

/*third section*/
.page-3 {
	background-color: #f2f2f2;
	width: 100%;
	height: 45rem;
	@include FLEX;
	padding: 35px 0;
}

.page-3-title-h1 {
	margin: 3rem 0 0 0;
	@include FONT;
	font-size: 1.5rem;
	text-align: center;
}

.projectImg{
	width:100%;
	padding: 0 1em;
}

.btn-page-3 {
	padding: 6px 15px;
	@include btn-specs;
	margin: 1rem 0 0 0;
	color: black;
	text-decoration: none;
}

/*Fourth section*/
.page-4 {
  width: 100%;
  background-color:#fafafa ;
  height: 45rem;
  @include FLEX;
  padding: 35px 0;
}

.title-div {
  background-color: rgba(0,0,0,0.3);
  margin: 0 auto;
  width: 85%;
  padding: 15px;
  margin-top: 2rem;
}

.page-4-title-h1 {
  color: white;
  @include FONT;
  font-size: 1.5rem;
  text-align: center;
}

.p-div {
  width: 80%;
  height: 70%;
  background-color: rgba(0,0,0,0.3);
  margin: 0 auto;
  margin-top: 2rem;
}

.page-4-p {
  color: #000000;
  @include FONT;
  text-align: left;
  font-size: 1.2rem;
  padding: 0.5em 0.5em 0 0.5em;
}

.btn-page-4 {
  padding: 8px 25px;
  border: 2px solid #b5b5b5;
  background-color: rgba(0,0,0,0.0);
  margin: 1rem 0 0 0;
  color: black;
  text-decoration: none;
}

/*fith section*/
.page-5 {
  padding: 35px 0;
  background-color:#f2f2f2;
  width: 100%;
  height: 45rem;
  @include FLEX;
}

.page-5-title-h1 {
  margin: 3rem 0 0 0;
  @include FONT;
  font-size: 1.5rem;
  text-align: center;
}

.orange-page-5 {
  width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin: 2rem 0 0 0;
}

form {
  width: 100%;
  @include FLEX;
}

.contact {
  width: 80%;
  height: 2rem;
  border: 1px solid #242424;
  margin: 2rem 0 0 0;
  padding-left:5px;
}

.teamPic{
  padding-top:0.3rem;
  margin:0px auto;
  width:100%;
  max-width: 78rem;
}

.txt-style {
  margin-top: 2rem;
  width: 80%;
  max-width: 80%;
  height:200px;
  max-height: 200px;
  border: 1px solid #242424;
  padding-left:5px;
}

.btn-page-5 {
  padding: 6px 15px;
  border: 2px solid #000000;
  background-color: #f26522;
  margin: 1rem 0 0 0;
  color: white;
  text-decoration: none;
  @include FONT;
  margin-left: 14.2rem;
}

button, a {
  @include links;
}

input {
  @include links;
}

li {
  @include links;
}

/*Desktop media query*/
@media (min-width:1366px){
  section {
    margin: 0 auto;
    width: 70% !important;
    @include background-color;
  }
  nav{
    margin: 0 auto;
    width: 70% !important;
  }
  .contact, .txt-style{
    width: 50%;
  }
  .page-1-div{
    width: 80%;
    height: 80%;
  }

  /*h1 on page-1*/
  .page-1-title-h1 {
    margin-top: 5rem;
  }
  /*Orange Dividers*/
  .orange-page-1 {
    margin: 3.5rem 0 0 0;
  }
  /*first buttons*/
  .btn-page-1 {
    margin: 10rem 0 0 0;
  }
  .page-2 img {
   width: auto;
   height: auto;
 }
 .textContainer{
  margin: 0 auto;
  width: 40% !important;
  background-color: #fafafa;
}

.page-1, .page-2, .page-3, .page-4, .page-5{
  height: 60rem;
}
.page-2-title-h1, .page-3-title-h1, .page-5-title-h1{
  font-size:3rem;
  margin-top: 5rem;
}
.page-2-p, .page-3-p{
  font-size: 1.5rem;
  margin: 5rem 0 3rem 0;
}
.page-5-p{
  font-size: 1.5rem;
  margin: 0 5rem 3rem 5rem;
}
.orange-page-2, .orange-page-3, .orange-page-5{
  margin: 5rem 0 5rem 0;
}
.projectImg{
  width:auto;
}

.btn-page-5 {
  margin-left: 37rem;
}

.teamPic {
  width: 100%;
  max-width: 600px;
  max-height: 286px;
  margin: 2rem auto;
  left: 50%;
}

.page-4-p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 16rem 0 16rem;
}

}

  /*iPad media query*/
  @media (min-width: 768px) and (max-width: 1366px){

    section{
     @include background-color;
    } 
  /* STYLES GO HERE */
  .page-1-div {
    position: relative;
    top:120px;
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 0rem;
    border: 1px solid #b5b5b5;
    @include FLEX;
  }

  /*Orange Dividers*/
  .orange-page-1 {
   width: 8rem;
   margin: 4rem 0 0 0;
 }
 /*first buttons*/
 .btn-page-1 {
  padding: 6px 12px;
  border: 2px solid #b5b5b5;
  margin: 7rem 0 0 0;
}

.page-1-title-h1 {
  margin-top: 5rem;
  padding: 0 0.3em 0 0.3em;
}

/*SECTION 2*/
.page-2-title-h1 {
  margin-top: 4rem;
}

.page-2 img {
  width: 100%;
  padding: 0 10%;
}

.page-2-p {
  margin: 3rem 0 0 0;
}

.btn-page-2 {
  margin: 2.5rem 0 0 0;
}

/*SECTION 3*/

.page-3-title-h1 {
  margin: 4rem 0 0 0;
}

.projectImg{
 width:auto;
}

.page-3-p {
  margin: 3rem 0 0 0;
}

.btn-page-3 {
  margin: 1.5rem 0 0 0;
}

/*SECTION 4*/

.teamPic {
  width: 100%;
  max-width: 600px;
  max-height: 286px;
  margin: 2rem auto;
  left: 50%;
}

.page-4-p {
  text-align: center;
  font-size: 1rem;
  padding: 0 10rem 0 10rem;
}

/*SECTION 5*/
.page-5-title-h1 {
  margin: 2.5rem 0 0 0;
}
.orange-page-5 {
  width: 7rem;
  margin: 3rem 0 0 0;
}
.page-5-p {
  margin: 3rem 0 0 0;
}

form {
  width: 90%;
  margin: 3rem 0 0 0 ;
  
}

.btn-page-5 {
  margin: 2rem 0 0 30rem;
}
}

/*SECTION TEAM*/
.team {
  padding-top:2rem;
}

.lihidden{
 display:inline;
 color:white;
 padding-right:1rem;
 float:left;
 padding-left:1rem;

 a {
  color: white;
 }
}

.hiddenButton{
  height:10px;
  width:100px;
}

#teamorange{
  margin:0 auto;
  margin-top:2rem;
}

.nojsDIV{
  text-align: center;
  margin-top:2rem;
  background-color:red;
}