<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/project.css">
	<title>XLNT</title>
</head>

<body>
	<nav class="navbar">
		<ul class="flex-box">
			<li class="test">
				<a href="../index.html"><img class="logo-img" src="../img/xlnt-logo-official-new.png"></a>
			</li>
			<li class="hamburger-position" align="right">
				<div id="nav-icon" align="right" onclick="buttonpress()">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</li> 
		</ul>
		<div class="box active">
			<ul class="menuDropdownUL">
				<div>
					<a class="other-site-nav" href="../index.html#hem"><li class="menuDropdown">Hem</li></a>
				</div>
				<div>
					<a class="other-site-nav" href="../index.html#responsiv"><li class="menuDropdown">Responsiv design</li></a> 
					</div>
				<div>
					<a class="other-site-nav" href="../index.html#tidigare"><li class="menuDropdown">Tidigare projekt</li></a>
				</div>
				<div >
					<a class="other-site-nav" href="../index.html#team"><li class="menuDropdown">Vårat team</li></a> 
				</div>
				<div>
					<a class="other-site-nav" href="../index.html#kontakt"><li class="menuDropdown">Kontakta oss</li></a>
				</div>
			</ul>
		</div>
	</nav>
	<div id="tidigare"></div><br><br>
	<section class="page-3">
		<h1 class="page-3-title-h1">YET AGAIN EDDIE IS THE BEST AROUND!</h1>
		<div class="orange-page-3"></div>
		<div class="page-3-flex-container">
			<figure class="flex-img"><img src="../img/youtube.png"><p class="project-p">Youtube</p></figure>
			<figure class="flex-img"><img src="../img/youtube.png"><p class="project-p">Youtube</p></figure>
			<figure class="flex-img"><img src="../img/youtube.png"><p class="project-p">Youtube</p></figure>
			<figure class="flex-img"><img src="../img/youtube.png"><p class="project-p">Youtube</p></figure>
		</div>
		<p class="page-3-p">
			Ett uravla av våra projekt för att förfina din upplevelse hos oss. Besäll din webplast idag!
		</p>
		<a href="views/projects.html" class="btn-page-3">Beställ nu!</a>
	</section>
	<footer>
		<h2>Adress</h2>
		<p>Sjumilaskogen 7</p>
		<p>1337 - Stockholm</p>
		<h2>Följ oss</h2>
		<a href="#"><i class="fa fa-facebook-square icon-size" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-twitter-square icon-size" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-linkedin icon-size"></i></a>

	</footer>

	<script src="https://use.fontawesome.com/656255a524.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>