<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/project.css">
	<link rel="icon" href="../img/xlnthead.png">
	<title>XLNT</title>
</head>

<body>
<div class="bg-color">
	<nav class="navbar">
		<ul class="flex-box">
			<li class="test">
				<a href="../index.html"><img class="logo-img" src="../img/xlnt-logo-official-new.png" alt="XLNT Media logo"></a>
			</li>
			    <noscript>
				<ul class="lihidden">
							<li class="lihidden"><a href="../index.html">Hem</a></li>
						</ul>
						</noscript>
			<li class="hamburger-position">
				<div id="nav-icon" onclick="buttonpress()">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</li> 
		</ul>
		<div class="box active">
			<ul class="menuDropdownUL">
				<div>
					<a class="other-site-nav" href="../index.html#hem"><li class="menuDropdown">Hem</li></a>
				</div>
				<div>
					<a class="other-site-nav" href="../index.html#responsiv"><li class="menuDropdown">Responsiv design</li></a> 
					</div>
				<div>
					<a class="other-site-nav" href="../index.html#tidigare"><li class="menuDropdown">Tidigare projekt</li></a>
				</div>
				<div >
					<a class="other-site-nav" href="../index.html#team"><li class="menuDropdown">Vårat team</li></a> 
				</div>
				<div>
					<a class="other-site-nav" href="../index.html#kontakt"><li class="menuDropdown">Kontakta oss</li></a>
				</div>
			</ul>
		</div>
	</nav>
	<div id="tidigare"></div>
	<section class="page-3">
		<h1 class="page-3-title-h1">Projekt vi har jobbat på!</h1>
		<div class="orange-page-3"></div>
		<div class="page-3-flex-container">
			<figure class="flex-img"><img src="../img/youtube.png" alt="client-youtube"><h1 class="project-h1">Youtube</h1><p class="project-p">"Quickest team we at Youtube ever worked with!"</p></figure>
			<figure class="flex-img"><img src="../img/plantify.png" alt="client-plantify"><h1 class="project-h1">Plantify</h1><p class="project-p">"Great understanding with our plant friendly thoughts"</p></figure>
		</div>
		<div class="page-3-flex-container2">
			<figure class="flex-img"><img src="../img/blind.png" alt="client-blind"><h1 class="project-h1">Synskadades Riksförbund</h1><p class="project-p">"Could really see the difference between mobile responsive and desktop"</p></figure>
			<figure class="flex-img"><img src="../img/twitch.png" alt="client-twitch"><h1 class="project-h1">Twitch</h1><p class="project-p">"Great and simple design for your user experience"</p></figure>
		</div>
		<p id="p-project" class="page-3-p">
			Vill du bli lika nöjd som våra tidigare kunder?
		</p>
		<div>
		<a href="../index.html#kontakt" class="btn-page-3">Kontakta oss!</a>
		</div>
	</section>
	<footer>
		<h2>Adress</h2>
		<p>Sjumilaskogen 7</p>
		<p>1337 - Stockholm</p>
		<h2>Följ oss</h2>
				<a href="#"><i class="fa fa-facebook icon-size" aria-hidden="true" style="color:white"></i></a>
				<a href="#"><i class="fa fa-twitter icon-size" aria-hidden="true" style="color:white"></i></a>
				<a href="#"><i class="fa fa-linkedin icon-size" style="color:white"></i></a>

	</footer>

	<script src="https://use.fontawesome.com/656255a524.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</div>
</body>
</html>