<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<link rel="stylesheet" type="text/css" href="../css/team.css">
	<link rel="icon" href="../img/xlnthead.png">
	<title>XLNT</title>
</head>
<body>
	<div class="bg-color">
		<nav class="navbar">
			<ul class="flex-box">
				<li class="test">
					<a href="../index.html"><img class="logo-img" src="../img/xlnt-logo-official-new.png" alt="XLNT Media logo"></a>
				</li>
				<noscript>
				<ul class="lihidden">
							<li class="lihidden"><a href="../index.html">Hem</a></li>
						</ul>
						</noscript>
				<li class="hamburger-position">
					<div id="nav-icon" onclick="buttonpress()">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li> 
			</ul>
			<div class="box active">
				<ul class="menuDropdownUL">
					<div>
						<a class="other-site-nav" href="../index.html#hem"><li class="menuDropdown">Hem</li></a>
					</div>
					<div>
						<a class="other-site-nav" href="../index.html#responsiv"><li class="menuDropdown">Responsiv design</li></a> 
					</div>
					<div>
						<a class="other-site-nav" href="../index.html#tidigare"><li class="menuDropdown">Tidigare projekt</li></a>
					</div>
					<div >
						<a class="other-site-nav" href="../index.html#team"><li class="menuDropdown">Vårat team</li></a> 
					</div>
					<div>
						<a class="other-site-nav" href="../index.html#kontakt"><li class="menuDropdown">Kontakta oss</li></a>
					</div>
				</ul>
			</div>
		</nav>
		
		<section class="team">
			<h1 class="team-h1" >XLNT´s Team</h1> 
			<div id="teamorange" class="orange-page-1"></div><br><br>
			<div class="slideshow-container">
				<div class="mySlides fade">

					<img src="../img/oscar.png" style="width:100%" alt="Oscar Gren">
					<div class="text"></div>
				</div>

				<div class="mySlides fade">

					<img src="../img/emil.png" style="width:100%" alt="Emil Fjellström">
					<div class="text"></div>
				</div>

				<div class="mySlides fade">

					<img src="../img/eddie.png" style="width:100%" alt="Eddie Jostell">
					<div class="text"></div>
				</div>

				<div class="mySlides fade">

					<img src="../img/martin.png" style="width:100%" alt="Martin Blomgren">
					<div class="text"></div>
				</div>

				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			

			<div class="dotdotdot" style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span> 
				<span class="dot" onclick="currentSlide(2)"></span> 
				<span class="dot" onclick="currentSlide(3)"></span> 
				<span class="dot" onclick="currentSlide(4)"></span> 
			</div>
			<div class="textContainer">
				<ul class="textList">
					<li><div class="myTextSlide"> <h4> Oscar Gren </h4> <h5>VD</h5> <br> <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella.</p> <br><br>
						<h5> Kompetenser </h5>
						<img class="kompIcon" src="../img/icons/html.png" alt="HTML-icon"> <img class="kompIcon" src="../img/icons/css.png" alt="CSS-icon"> <img class="kompIcon" src="../img/icons/js.png" alt="JavaScript-icon">
					</div></li>

					<li><div class="myTextSlide"> <h4> Emil Fjellström</h4> <h5>Utvecklare</h5> <br> <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. </p> <br>
						<h5>Kompetenser</h5>
						<img class="kompIcon" src="../img/icons/html.png" alt="HTML-icon"> <img class="kompIcon" src="../img/icons/css.png" alt="CSS-icon"> <img class="kompIcon" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="kompIcon" src="../img/icons/php.png" alt="PHP-icon">
					</div></li>

					<li><div class="myTextSlide"> <h4> Eddie Jostell</h4> <h5> Utvecklare/Designer</h5> <br> <p> Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. </p> <br>
						<h5> Kompetenser </h5>
						<img class="kompIcon" src="../img/icons/html.png" alt="HTML-icon"> <img class="kompIcon" src="../img/icons/css.png" alt="CSS-icon"> <img class="kompIcon" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="kompIcon" src="../img/icons/ai.png" alt="Adobe-Illustrator-icon"><img class="kompIcon" src="../img/icons/ap.png" alt="Photoshop-icon">
					</div></li>

					<li><div class="myTextSlide"> <h4> Martin Blomgren </h4> <h5>Utvecklare</h5> <br><p> Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p> <br>
						<h5> Kompetenser </h5>
						<img class="kompIcon" src="../img/icons/html.png" alt="HTML-icon"> <img class="kompIcon" src="../img/icons/css.png" alt="CSS-icon"> <img class="kompIcon" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="kompIcon" src="../img/icons/vr.png" alt="VR-icon">
					</div></li>
				</ul>
			</div>
		</section>
		<footer>
			<h2>Adress</h2>
			<p>Sjumilaskogen 7</p>
			<p>1337 - Stockholm</p>
			<h2>Följ oss</h2>
				<a href="#"><i class="fa fa-facebook icon-size" aria-hidden="true" style="color:white"></i></a>
				<a href="#"><i class="fa fa-twitter icon-size" aria-hidden="true" style="color:white"></i></a>
				<a href="#"><i class="fa fa-linkedin icon-size" style="color:white"></i></a>

		</footer>
		</div>
		<script type="text/javascript" src="../js/main.js"></script>
		<script src="https://use.fontawesome.com/656255a524.js"></script>
		<script type="text/javascript" src="../js/team.js"></script>
	</body>
	</html>